<!-- Page Content -->
<div id="page-content-wrapper" style="padding: 15px;">
   <div class="container-fluid ">
      <div class="row">
         <div class="col-md-12 col-xs-12">
            <div class="panel-group">
               <div class="panel panel-primary">
                  <div class="panel-heading">Account Details</div>
                  <div class="pull-left">
                     <div class="card-box user-icon"><i class="fa fa-user-circle"></i></div>
                  </div>
                  <div class="panel-body table-responsive">
                     <table class="table table-user-information">
                        <tbody>
                           <tr>
                              <td><label>User Name:</label></td>
                              <td>{{user.userName}}</td>
                           </tr>
                           <tr>
                              <td><label>Email ID:</label></td>
                              <td>{{user.email}}</td>
                           </tr>
                           <tr>
                              <td><label>Designation:</label></td>
                              <td>Tester</td>
                           </tr>
                           <tr>
                              <td><label>Company:</label></td>
                              <td>Infotree</td>
                           </tr>
                           <tr>
                              <td><label>Subscribed Plan:</label></td>
                              <td>Single User</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /#page-content-wrapper --> 
</div>