<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">App Details</div>
		<div class="panel-body table-responsive min-manel-h">
			<div class="row bottom-10">
				<div class="centered bottom-10"><img class="icon-medium" ng-src="{{test.app.icon}}" onerror="this.src=this.alt;"  alt="{{test.app.defaultIcon}}" ></div>
				<div class="col-md-12 col-xs-12 word-break">
					<div class="row"><div class="col-md-4 col-xs-12" >App Name</div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">{{test.app.appName}}</div></div>
					<div class="row"><div class="col-md-4 col-xs-12" >Version</div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">{{test.app.version}}</div></div>
					<div class="row"><div class="col-md-4 col-xs-12" >Build No </div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">{{test.app.buildId}}</div></div>
					<div class="row"><div class="col-md-4 col-xs-12" >Platform</div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">Android</div></div>
					<div class="row"><div class="col-md-4 col-xs-12" >Package</div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">{{test.app.appPackageName}}</div></div>
					<div class="row"><div class="col-md-4 col-xs-12" >Activity</div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">{{test.app.activityName}}</div></div>
					<div class="row"><div class="col-md-4 col-xs-12" >Type</div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">{{test.app.appType}}</div></div>
					<div class="row"><div class="col-md-4 col-xs-12" >Upload Date</div><div class="col-md-1 col-xs-12" >:</div><div class="col-md-6 col-xs-12">{{test.app.uploadedDate}}</div></div>
					
				</div>
						
				
			</div>
			
		</div>
	</div>
</div> 