<!-- Page Content -->
<div id="page-content-wrapper">
	<!-- breadcrumb -->
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a class="dec-none" href="#!dashboard">Dashboard</a></li>
		<li class="breadcrumb-item active">Bugs</li>
	</ul>
	<!-- /breadcrumb-->
	<div class="container-fluid ">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">Bugs</div>
						<div class="panel-body table-responsive">
							<div class="row">
								<div class="col-xs-offset-1">
									<div class="col-md-5 col-sm-6 col-xs-6">
										<div class="card-box tilebox-three text-center">
											<a href="#">
												<div><img src="images/bugzilla-icon.png"> </div>
												<h3>Bugzilla</h3>
											</a>
										</div>
									</div>
									<div class="col-md-5 col-sm-6 col-xs-6">
										<div class="card-box tilebox-three text-center">
											<a href="#">
												<div><img src="images/jira-icon.png"> </div>
												<h3>Jira</h3>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper --> 
</div>