<!-- Page Content -->
<div id="page-content-wrapper">
	<!-- breadcrumb -->
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a class="dec-none" href="#!dashboard">Dashboard</a></li>
		<li class="breadcrumb-item active">Devices</li>
	</ul>
	<!-- /breadcrumb-->
	<div class="container-fluid ">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">Device Lab</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="box box-default ui-ribbon-container ui-ribbon-danger">
										<div class="ui-ribbon-wrapper">
											<div class="ui-ribbon">
												Free
											</div>
										</div>
										<div class="box-body text-center">
											<img src="images/devices/iphone-6s.png">
											<h4>Apple iPhone 6s</h4>
											<p class="small">iOS</p>
											<button type="button" class="btn btn-sm btn-success">Specifications</button>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="box box-default ui-ribbon-container ui-ribbon-danger">
										<div class="ui-ribbon-wrapper">
											<div class="ui-ribbon">
												Free
											</div>
										</div>
										<div class="box-body text-center">
											<img src="images/devices/moto-g5.png">
											<h4>Moto G5 Plus</h4>
											<p class="small">Android 0.7</p>
											<button type="button" class="btn btn-sm btn-success">Specifications</button>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="box box-default ui-ribbon-container ui-ribbon-danger">
										<div class="box-body text-center">
											<img src="images/devices/lenovo-vibe-6.png">
											<h4>Lenovo Vibe K5 Note</h4>
											<p class="small">Android 0.6</p>
											<button type="button" class="btn btn-sm btn-success">Specifications</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="box box-default ui-ribbon-container ui-ribbon-danger">
										<div class="box-body text-center">
											<img src="images/devices/iphone-6s.png">
											<h4>asus-zenfone-selfie</h4>
											<p class="small">Android 0.6</p>
											<button type="button" class="btn btn-sm btn-primary disabled">Specifications</button>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="box box-default ui-ribbon-container ui-ribbon-danger">
										<div class="box-body text-center">
											<img src="images/devices/samsung-galaxy-on-nxt.png">
											<h4>Samsung Galaxy On Nxt</h4>
											<p class="small">Android 0.7</p>
											<button type="button" class="btn btn-sm btn-success">Specifications</button>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="box box-default ui-ribbon-container ui-ribbon-danger">
										<div class="box-body text-center">
											<img src="images/devices/mi-redmi-note-4.png">
											<h4>Redmi Note 4</h4>
											<p class="small">Android 0.7</p>
											<button type="button" class="btn btn-sm btn-success">Specifications</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
