<li class="breadcrumb-item"><a class="dec-none" ui-sref="home.dashboard">Dashboard</a></li>
<li class="breadcrumb-item"><a class="dec-none" ui-sref="home.dashboard">My Apps</a></li>
<li class="breadcrumb-item text-capitalize"><a class="dec-none" ui-sref="home.newTest/{{test.senario}}">{{test.senario}}</a></li>
<li class="breadcrumb-item text-capitalize"><a class="dec-none" ui-sref="home.newTest/{{test.senario}}">{{test.type}}</a></li>
<li class="breadcrumb-item active text-capitalize">{{test.type}} Test Execution</li>