<div class="panel panel-login">
<div class="panel-body animated flipX">

<!-- define angular controller -->
<div data-ng-controller="forgotPasswordController" >
<h2 class="form-label">Forgot your password?</h2><!-- Reset your password -->

	<form name="forgotPasswordName" role="form" data-ng-submit="formSubmit()">
	<div class="form-group">
		<div id='errors' ></div>
	</div>
	<div class="form-group">
			<!-- <label for="email">Email</label> -->
			<div class="form-hint">
			<!-- To reset your password, please enter your email address -->
			<!-- Enter your REGISTERED email address and we will send you a link to reset your password. -->
			<!-- Enter any recovery email or phone number associated with your account -->
			<!-- To obtain your password please enter the e-mail address registered with us. Your password will be sent immediately. -->
			</div>

			<!-- ng-required="true" | required -->
			<div class="error form-hint"
			data-ng-show="forgotPasswordName.email.$dirty && forgotPasswordName.email.$error.required"
			data-ng-cloak>{{"You can't leave this empty."}}
			</div>
			<!-- ng-model="email" -->
			<div class="error form-hint"
			data-ng-show="forgotPasswordName.email.$dirty && forgotPasswordName.email.$error.email"
			data-ng-cloak>{{"The email address you provided isn't valid"}}</div>

			<!-- Enter your email address | E-mail used for registration -->
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter registered email address"
			data-ng-class="(forgotPasswordName.email.$dirty && forgotPasswordName.email.$invalid) ? 'error' : ''"
			data-ng-required="true" data-ng-model="email77">

		<div class="margin-tp-10">
		<!-- btn btn-primary btn-block | Send password reset email | Let me reset my password -->
		<button id='forgetButton' type="submit" class="btn btn-block" data-ng-disabled="forgotPasswordName.$invalid">
		Let me reset my password
		</button>
		</div>
	</div>


	<div class="form-group" style="padding-top: 15px;line-height: 12pt;">
		<div>New to Application? <a ui-sref="main.register" class="btn-link"> Create an Account</a></div>
		<div>Remembered your Password? <a ui-sref="main.login" class="btn-link">Login here</a></div>
	</div>
	</form>
</div>

</div>
</div>
