
<!-- defining angular app for the HTML Element -->
	<div style="background-size:cover !important; background-color: #ededeb !important; height:648px; background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('./images/theme3.png');">
		<div class="container"  >
		   	<div class="row">
			    <div class="col-md-6 col-md-offset-3 login-panel">
				    <div class="text-center bottom-10"><img src="./images/logo.png" alt="testpace"> </div>
	
					<!-- angular template - this is where content will be injected -->
					<div ui-view='sub'></div>
				</div>
			</div>
	
		</div>
	</div>
